In [1]:
import pandas as pd
import pdmod1
### import imp
### imp.reload(pdmod1)

In [4]:
a = pdmod1.Class_1(".\csv\Sales Records.csv")
a.sort_1("Country").head(10)

,Region,Country,Item Type,Sales Channel,Order Priority,Order Date,Order ID,Ship Date,Units Sold,Unit Price,Unit Cost,Total Revenue,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,Offline,H,7/24/2013,933963477,8/23/2013,9402,205.70,117.11,1933991.40,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,Offline,L,2/4/2012,772306096,3/21/2012,1391,668.27,502.54,929563.57,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,Offline,H,8/20/2015,667230880,10/5/2015,7300,205.70,117.11,1501610.00,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,Offline,H,8/11/2012,161685121,8/29/2012,5075,421.89,364.69,2141091.75,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,Offline,M,3/25/2011,440761888,4/1/2011,92,668.27,502.54,61480.84,46233.68,15247.16
5,Middle East and North Africa,Afghanistan,Cosmetics,Offline,L,10/21/2011,873209512,11/19/2011,954,437.20,263.33,417088.80,251216.82,165871.98
6,Middle East and North Africa,Afghanistan,Household,Offline,C,1/7/2014,508716619,1/26/2014,9407,668.27,502.54,6286415.89,4727393.78,1559022.11
7,Middle East and North Africa,Afghanistan,Snacks,Online,C,1/17/2011,514748370,2/5/2011,4336,152.58,97.44,661586.88,422499.84,239087.04
8,Middle East and North Africa,Afghanistan,Clothes,Online,C,5/17/2014,182372891,5/23/2014,7046,109.28,35.84,769986.88,252528.64,517458.24
9,Middle East and North Africa,Afghanistan,Snacks,Offline,L,3/28/2012,765541779,5/6/2012,9679,152.58,97.44,1476821.82,943121.76,533700.06

In [5]:
a.drop_1("Ship Date", 'Order ID', 'Sales Channel', 'Total Revenue').head(10)

,Region,Country,Item Type,Order Priority,Order Date,Units Sold,Unit Price,Unit Cost,Total Cost,Total Profit
0,Middle East and North Africa,Afghanistan,Cereal,H,7/24/2013,9402,205.70,117.11,1101068.22,832923.18
1,Middle East and North Africa,Afghanistan,Household,L,2/4/2012,1391,668.27,502.54,699033.14,230530.43
2,Middle East and North Africa,Afghanistan,Cereal,H,8/20/2015,7300,205.70,117.11,854903.00,646707.00
3,Middle East and North Africa,Afghanistan,Meat,H,8/11/2012,5075,421.89,364.69,1850801.75,290290.00
4,Middle East and North Africa,Afghanistan,Household,M,3/25/2011,92,668.27,502.54,46233.68,15247.16
5,Middle East and North Africa,Afghanistan,Cosmetics,L,10/21/2011,954,437.20,263.33,251216.82,165871.98
6,Middle East and North Africa,Afghanistan,Household,C,1/7/2014,9407,668.27,502.54,4727393.78,1559022.11
7,Middle East and North Africa,Afghanistan,Snacks,C,1/17/2011,4336,152.58,97.44,422499.84,239087.04
8,Middle East and North Africa,Afghanistan,Clothes,C,5/17/2014,7046,109.28,35.84,252528.64,517458.24
9,Middle East and North Africa,Afghanistan,Snacks,L,3/28/2012,9679,152.58,97.44,943121.76,533700.06